# Ignorar archivos de entorno
.env

# Ignorar dependencias de Node.js
node_modules/

# Ignorar archivos de logs
logs/
*.log

# Ignorar archivos de compilación
dist/
build/

# Ignorar archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de configuración de editores de texto/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignorar archivos de configuración de ESLint
.eslintcache

# Ignorar archivos de configuración de Babel
.babelrc

# Ignorar archivos de configuración de Webpack
webpack.config.js

# Ignorar archivos de configuración de Vite
vite.config.js