.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 125%; /* Asegúrate de que el contenedor tenga el mismo ancho que el input de correo electrónico */
  }
  
  .password-input-container input {
    width: 100%; /* Asegúrate de que el input tenga el mismo ancho que el input de correo electrónico */
    padding-right: 30px; /* Espacio para el icono */
  }
  
  .password-toggle-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }